/*------------Base-------------*/
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');


*,
*::before,
*::after{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    font-family: 'Aldrich', sans-serif;
    font-size: 10px;
}

a{
    text-decoration: none;
}

/*------------Navigation-------------*/

.hamburger{
    position: fixed;
    top: 4rem;
    right: 4rem;
    cursor: pointer;
    z-index: 2000;
}
.hamburger i{
    font-size: 3rem;
    background: linear-gradient(to right, #2af598 0%, #009efd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hamburger .fa-times{
    display: none;
}

header::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    transform: translate(-100%, -100%);
    opacity: 0;
    z-index: 999;
    transition: opacity .6s, transform .6s;
    transition-delay:.2s ;
}

.side-bar{
    background-color: #1f253d;
    position: fixed;
    top: 0;
    left: 0;
    width: 28rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.nav-list{
    list-style: none;
}

.nav-item{
    position: relative;
}
.nav-item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, #2af598 0%, #009efd 100%);
}

.nav-link{
    display: block;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, .4);
    text-transform: uppercase;
    line-height: 8rem;
    letter-spacing: 3px;
    transition: color .6s;
}

.nav-link:hover{
    color: rgba(255, 255, 255, .8);
}

.nav-link.current{
    color:#fff;
}

.nav-link i{
    font-size: 2rem;
    margin-right: 1rem;
}

.social-media{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.icon-link{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    transform: background-color .6s ;
}

.icon-link:hover{
    background-color: rgba(0,0,0,.3);
}

.icon-link i{
    font-size: 2.5rem;
    color: rgba(255, 255, 255, .4);
    margin: auto;
    transition: color .2s;
}

.icon-link i:hover{

    color: rgba(255, 255, 255,.8);
}

/*------------Main-------------*/

main{

    perspective: 100rem;
    margin: 0;
}

.zoom-content{
    transform-style: preserve-3d;
    transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    scroll-behavior: smooth;

}

section{
    width: 100%;
    height: 100vh;    
}

.active .fa-times{
    display: block;
}
.active .fa-bars{
    display: none;
}


header.active::before{
    transform: translate(0,0);
    opacity: 1;
    transition: opacity .6s;
}

.active .side-bar{
    transform:translateX(0);
}

.active .zoom-content{
    transform: translate3d(0,0, -25rem);
}



/*------------Home-------------*/

.home{
    width: 100%;
    height: 80vh;
    background:linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8) 100%) ,url(./images/header-bg.jpg);
    background-position: center;
    background-size: cover; 
    position: relative;
}

.home::before{
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 18rem;
    background: url(./images/wave-large.png) center no-repeat;
    background-size: cover;
}

.container{
    width: 70%;
    height: 50vh;
    margin: 0 auto;
    position: relative;
}

.logo{
    height: 11rem;
    padding-top: 2rem;
    border-bottom: 1px slategray solid;
}
.logo img{
    height: 7.5rem;
}

.banner{
    width: 50%;
    height: 70%;
    position: absolute;
    top: 60%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    text-transform: uppercase;
    margin-top: 6rem;
}

.banner h3{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.banner h1{
    font-size: 5rem;
    margin-bottom: 3rem;
    letter-spacing: 5px;
}

.banner p{
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.btn{
    color: whitesmoke;
    border-radius: 5%;
    border: 1px solid tomato;
    background-color: tomato;
    padding: 1rem;
    transition: .2s;
}

.btn:hover{
    background-color: transparent;
}

/*------------About-------------*/
.about{
    margin-top: -18rem;
}

.title{
    text-align: center;
}

.title h3{

    font-size: 1rem;
}

.title h1{
    font-size: 2rem;
}

.about .container{
    margin-top: 5rem;
}

.about .container .row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    width: 29rem;
    height: 39rem;
    transition: all .5s;    
    z-index: 10; 
    transition: .5s;
    overflow: hidden;
}


.card .fas{
    color: tomato;
    font-size: 4rem;
    margin-bottom: 2rem;
    position: relative;
    border-radius: 50%;
    transition: 1.5s;
}

.card:hover{
    transform: translateY(-2rem);
}

.card:hover .fas{
    box-shadow: 0 0 0 400px rgba(231, 38, 4, 0.7);
    transition: 1s;
    color: white;
    background: rgba(231, 38, 4, 0.7);
    z-index: -1;

}

.card .content{
    color: whitesmoke;
    margin: 4rem auto;
    width: 80%;
}

.card .content h2{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    z-index: 1;
    transition: .5s;
}

.card .content p{
    font-size: 1.2rem;
    z-index: 1;
    transition: .5s;

}

.card:nth-child(1){
    background:linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8) 100%) ,url(./images/camping.jpg);
    background-size: cover;
    background-position: center;
     
}
.card:nth-child(2){
    background:linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8) 100%) ,url(./images/camping.jpg);
    background-size: cover;
    background-position: center;
     
}

.card:nth-child(3){
    background:linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8) 100%) ,url(./images/camping.jpg);
    background-size: cover;
    background-position: center;
     
}

/*------------Portfolio-------------*/


.portfolio{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: -40rem;
    background:linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8) 100%) ,url(./images/testimonials-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    

}

.portfolio::after{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 18rem;
    background: url(./images/wave-large-reversed.png) center no-repeat;
    background-size: cover;
}

.portfolio::before{
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 18rem;
    background: url(./images/wave-large.png) center no-repeat;
    background-size: cover;
}

.portfolio .container .row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.portfolio .container .row .left{
    width: 60rem;
    height: 30rem;
    margin-top: 25%;

}

.portfolio .container  .row .left h3{
    margin-bottom: 2rem;
    font-size: 3.5rem;
    color: whitesmoke;
}

.portfolio .container  .row .left h1{
    margin-bottom: 2rem;
    font-size: 5.5rem;
    color: whitesmoke;
}

.portfolio .container .row .left p{
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: whitesmoke;
}

.container .row .right{
    flex-basis: 40%;
    position: relative;
    height: 30rem;
    margin-top: 25%;


}

.container .row .right .image .photo {
    width: 55%;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all .3s;
    outline-offset: 2rem;
    box-shadow: 0 1.5rem 4rem rgba(black, .8);

}

.p1{
    left: 0;
    top: 2rem;
}

.p2{
    right: 0;
    top: 5rem;
}

.p3{
    left: 5rem;
    top: 10rem;
}

.container .row .right .image .photo:hover{
    transform: scale(1.1);
    z-index: 2;
    outline: solid 1.5rem tomato;
}



.container .row .right .image .photo:hover .photo:not(:hover)
{
    transform: scale(.95);
} 


/*------------Package-------------*/
.package{
    width: 100%;
    height: 100vh;

}

.package-container{
 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.package-container .package-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.package-card{
    width: 35rem;
    height: 33rem;
    background-color: white;
    transition: .5s;
    box-shadow: 1px 3px 2rem rgba(49,24,131,0.9);
    margin-top: -20rem;
}

.card-head{
    height: 22rem;
    position: relative;
  
}

.package-card:nth-child(1) .card-head{
    background:linear-gradient(135deg, rgba(49,24,131,0.8) 0%, rgba(72,56,149,0.8) 100%) ,url(./images/jungle.jpg);
    background-size: cover;
    background-position: center;
}

.package-card:nth-child(2) .card-head{
    background:linear-gradient(135deg, rgba(49,24,131,0.8) 0%, rgba(72,56,149,0.8) 100%) ,url(./images/sea.jpg);
    background-size: cover;
    background-position: center;
}

.package-card:nth-child(3) .card-head{
    background:linear-gradient(135deg, rgba(49,24,131,0.8) 0%, rgba(72,56,149,0.8) 100%) ,url(./images/snow.jpg);
    background-size: cover;
    background-position: center;
}

.card-head h3{
    font-size: 1.7rem;
    color: whitesmoke;
    background-color: rgba(49,24,131,0.7);
    width: 12rem;
    text-align: center;
    bottom: 2rem;
    right: 4rem;
    position:absolute;
    padding: .8rem;
    border: 2px solid tomato ;
    border-bottom-left-radius:2rem ;
    border-top-right-radius:1rem ;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card-head:before{
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 5rem;
    background: url(./images/wave-large.png) center no-repeat;
    background-size: cover;

}

.card-body{
    height: 0rem;
    width: 100%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    transition: .5s;
 
}


.card-body li{
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    width: 15rem;
    text-align: center;
    opacity: 0;
    transition: .2s;
    font-size: 1.5rem;
    margin-bottom: 5px;
    background: linear-gradient(to right, #602af5 0%, #009efd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.card-footer{
    position: relative;
    left: 0;
    bottom: 0;
    height: 11rem;

}

.package-card:nth-child(1) .card-footer{
    background:linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8) 100%) ,url(./images/jungle.jpg);
    background-size: cover;
    background-position: bottom;
}

.package-card:nth-child(2) .card-footer{
    background:linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8) 100%) ,url(./images/sea.jpg);
    background-size: cover;
    background-position: bottom;
}

.package-card:nth-child(3) .card-footer{
    background:linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8) 100%) ,url(./images/snow.jpg);
    background-size: cover;
    background-position: bottom;
}


.card-footer::before{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 4rem;
    background: url(./images/wave-large-reversed.png) center no-repeat;
    background-size: cover;

}

.card-footer .btn{
top: 28%;
left: 29%;
height: 4rem;
width: 11.5rem;
font-size: 1.3rem;
text-align: center;
transform: translate(-50%, -50%);
position: absolute;
text-transform: uppercase;
letter-spacing: 2px;
transition: .5s;
background-color: rgba(49,24,131,0.9);
border-top-left-radius:1rem ;
border-bottom-right-radius:2rem ;

}

.card-footer .btn:hover{
    background-color: tomato;
}

.package-card:hover {
    height: 55rem;
}

.package-card:hover .card-body{
    height: 22rem;
    opacity: 1;
}

.package-card:hover .card-body li{
   
    opacity: 1;
    transition-delay: .5s;
}





      
 /*   Slider */
.home-slider{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: -10%;
}

.slider{
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #2696E9;
  padding: 100px 200px;
}

.slider:before{
  z-index: 777;
  content: '';
  position: absolute;
  background: rgba(3, 96, 251, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider .content{
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.slider .content.active{
  display: block;
}

.slider .content h1{
  font-size: 3.5em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 50px;
  margin-bottom: 40px;
}

.slider .content h1 span{
  font-size: 1em;
  font-weight: 600;
}

.slider .content p{
  margin-bottom: 45px;
  width: 75%;
}

.slider .content a{
  background: #fff;
  padding: 10px 20px;
  color: #1680AC;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}


.slider video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
  background: #2696E9;
}

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}

.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  section{
    padding: 100px 20px;
  }

  .home-slider .media-icons{
    right: 15px;
  }

  header .navigation{
    display: none;
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn{
    background: url(menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url(close.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}

@media (max-width: 560px){
  .home-slider .content h1{
    font-size: 3em;
    line-height: 60px;
  }
}
       

/*------------Testimonial-------------*/
.testimonial{
    margin-top: -10rem;
    height: 60vh;
}

.review{
    display: flex;
    align-items: center;
    justify-content: center;

}
.dp{
    height: 20rem;
    position: relative;
}
.dp img{
    height: 11rem;
    border: 3px solid tomato;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(10%,-50%);
    transition: .5s;
}

.review .details{
    width: 45rem;
    margin-left: 7rem;
    background: #eee;
    height: 20rem;
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:7rem;
    transition: .5s;

}
.details h3{
    margin-bottom: .5rem;
    color: tomato;
    font-size: 2rem;
}

.details p{
    font-size: 1.2rem;
    width: 90%;
}

.details .stars{
    margin-top: .7rem;
    color: tomato;
    font-size: 1.1;
}

/*------------Footer-------------*/

    .footer{
    width: 100%;
    height: 100vh;
    background:linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8) 100%) ,url(./images/testimonials-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: -20rem;
    
}

.footer::before{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 20rem;
    background: url(./images/wave-large-reversed.png) center no-repeat;
    background-size: cover;
}

.footer .container{
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    
}

.footer .container .row{
    width: 100%;  
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5%;

}
.footer .container .row .box:nth-child(1){
    width: 38%;
    margin-right: 5%;
}

.footer .container .row .box{
    display: flex;
    align-items: top;
    flex-direction: column;
    justify-content: space-between;
    width: 32% ;
    height: 70%;
    color: whitesmoke;
    font-size: 1.5rem;
    text-transform: uppercase;

}

.footer .container .row .box input{

    background-color: transparent;
    margin:2rem 3rem 1rem 0;
    outline: none;
    padding: 1rem;
    border: 2px solid tomato;
    color: white;
    border-radius: 10px;
}
.footer .container .row .box input:focus:invalid{
    border-bottom: 2px solid hotpink;
}


.footer .container .row .box textarea{

    background-color: transparent;
    margin:2rem 3rem 4rem 0;
    outline: none;
    padding: 1rem;
    border: 2px solid tomato;
    color: white;
    border-radius: 10px;

}

.footer .container .row .box .name{

    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;  
}

.footer .container .row .box .btn{

    width: 30%;
    text-align: center;
    
}

.footer .container .row .box .contact-details{
    display: flex;
    align-items: center;  
}

.footer .container .row .box .contact-details .contact{
   width: 60%;
}

.footer .container .row .box .contact-details .links:hover i{
    padding-right: 1.7rem;
    transition: .5s;
    
}

.footer .container .row .box .contact-details a{
    display: block;
    color: white;
    margin-top: 2.5rem ;
}

.footer .container .row .box .contact-details i{
    color: tomato;
    margin-right: 1rem;
    transition: .5s;
}

.footer .container .row .box .contact-details .contact{
    display: inline-block;
    color: white;
}

.footer .container .row .box p{
    margin-top: 3rem;
}

.footer .container .row .box .email{
    margin-bottom: 3rem;
    width: 70%;
}

.footer .copy{

    bottom: 4rem;
    left: 50%;
    position: absolute;
    font-size: 1.7rem;
    color: whitesmoke;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    padding-bottom: 1rem;
    border-bottom: 2px solid tomato;
    
}

.footer .copy span{
    color: tomato;
}




@media screen and (max-width:500px) {

    .hamburger{
        top: 2.5rem;
    }

    .nav-link{
        line-height: 5rem;
    }

    .side-bar{
        width: 25rem;
    }  
  
     .logo{
        height: 7rem;
    }
    .logo img{
        height:4rem;
    }

    
    .home{
       height: 85vh;
     }

    .home::before{
        height: 8rem;
    }
    
    .banner{
        width: 100%;
        margin: 4rem;
    }
    
    .banner h3{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .banner h1{
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    
    .banner p{
        font-size: 1rem;
    }

    /*------------About-------------*/


    .about{
        margin-top: 0rem;
    }
    
    .about .container{
        margin-top: 5rem;
        
    }
    
    .about .container .row{
    
       flex-direction: column;
       
    }
    
    .card{
        width: 25rem;
        height: 29rem;
        margin-bottom: 2rem;
           
    }
    
    .card .fas{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .card .content{
        margin: 2.5rem auto;
    }
    
    .card .content h2{
        font-size: 1.5rem;
    
    }
    .card .content p{
        font-size: 1rem;  
    }

    /*------------Portfolio-------------*/



    .portfolio{ 
        height: 65vh;
        margin-top: 30rem;
        
    }
    
    .portfolio::after{
       height: 5rem;
    
    }
    
    .portfolio::before{
    
        height: 5rem;
    
    }
    
    .portfolio .container .row{
        flex-direction: column;
    }
    
    .portfolio .container .row .left{
        width: 100%;
        margin-top: 35%;
    
    }
    
    .portfolio .container  .row .left h3{
        margin-bottom: .8rem;
        font-size: 1.4rem;
      
    }
    
    .portfolio .container  .row .left h1{
        margin-bottom: 1rem;
        font-size: 2rem;
    
    }
    
    .portfolio .container .row .left p{
        margin-bottom: 2rem;
        font-size: 1rem;
      
    }
    
    .container .row .right{
       
        height: 30rem;
        margin-top: -30%;
        width: 100%;
    }
    
    .container .row .right .image .photo {
        width:40%;
        outline-offset: .4rem;
    
    }
    
    .p1{
        left: 10rem;
        top: 0rem;
    }
    
    .p2{
        right: 0;
        top: 2rem;
    }
    
    .p3{
        left: 12rem;
        top: 5rem;
    }
    
    .container .row .right .image .photo:hover{
        outline: solid .7rem tomato;
    }



    /*------------Packages-------------*/



    .package{
        margin-top: -20rem;
    }
    
    .package-container .package-row{
        flex-direction: column;
        margin-top: 50rem;
        justify-content: space-between; 
    }
    
    .package-card{
        width: 26rem;
        height: 26rem;
        margin-bottom: 30rem;
    
    }
    
    .card-head{
        height: 15rem;
        position: relative;
      
    }
    
    .card-head h3{
        font-size: 1rem;
        width: 10rem;
        right: 2rem;
    
    }
    .card-body li{
       font-size: 1rem;
    
    }
    .card-footer .btn{
        height: 3.5rem;
        width: 10rem;
        font-size: 1rem;
    }
    
    .package-card:hover .card-body{
        height: 15rem;
    
    }


    /*------------testiomnial-------------*/

    


    .testimonial{
        margin-top: 50rem;
        height: 100vh;
    }
    
    
    .review{
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .dp{
        height: 10rem;
        position: relative;
    }
    .dp img{
        height: 9rem;
    }
    
    .review .details{
        width: 40rem;
        margin-left: 5rem;  
        padding-left:6rem;
    }
    .details h3{
        font-size: 1.2rem;
    }
    
    .details p{
        font-size: .9rem;
    }


    /*------------footer-------------*/


    .footer{
        width: 100%;
        height: 110vh;
       
    }
    
    .footer .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }
    
    .footer::before{ 
        height: 10rem;
    
    }
    
    .footer .container .row{
        flex-direction: column;
        width: 100%;  
        margin-top: 70rem;  
    }
    
    .footer .container .row .box{
        flex-direction: column;
        width: 80% ;
        font-size: 1rem;
    }
    
    .footer .container .row .box input{
        margin:2rem 1rem 1rem 0;
        padding: .8rem;
        border-radius: 5px;
        font-size: 1rem;
    }
    
    
    .footer .container .row .box textarea{
        padding: .2rem;
        border-radius: 5px;
        width: 98%;
    }
    
    .footer .container .row .box .contact-details a{
        margin-bottom: 2rem;
    }
    
    .footer .container .row .box p{
        margin-top: 1rem;
    }
    
    .footer .container .row .box .email{
        margin-bottom: 3rem;
        width: 70%;
    }
    
    .footer .copy{
        font-size: 1.3rem;
    }
    
}


